name: Actions Tester

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  Linter:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Greeter
        uses: amanitx/github_actions/actions-demo@main
        with:
          who-to-greet: Everyone!

      - name: Check Breakpoint
        uses: amanitx/github_actions/actions/check-breakpoint@main